.player-form {
  margin: 0 5%;
  width: 90%;

  input,
  label,
  button {
    font-size: 20px;
  }

  input,
  button {
    padding: 5px 2%;
    margin: 10px 0;
  }

  input,
  label {
    width: 96%;
  }

  input {
    height: 35px;
    line-height: 35px;
  }

  label {
    margin: 5px 0 0 0;
  }

  button {
    height: 50px;
    margin-top: 20px;
    width: 100%;
  }
}


