# Yeoman
dist/
temp/


# Netbeans
nbproject/private/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml

# PHP Storm
.idea/

### SASS Ignores - "Sassy CSS" http://sass-lang.com/
*.sass-cache

# SublimeText project files
*.sublime-workspace
