<section class="player player-{{number}}">
  <header class="header">
    <div class="avatar">
      <img data-ng-src="{{player.email|gravatar}}" alt="avatar">
    </div>
    <div class="name">
      <span class="firstName">{{player.firstName}}</span>
      <span class="lastName">{{player.lastName}}</span>
    </div>
  </header>
  <div class="infos">
    <div class="score" data-ng-show="player.connected">{{player.score}}</div>
    <div class="qrcode" data-ng-hide="player.connected"></div>
  </div>
</section>
