<section class="player">
  <header class="player--header">
    <div class="player--header--avatar">
      <img src="https://fr.gravatar.com/userimage/13472948/738c7b4b48d1c6a9964ace6c2b24ea0c.jpg?size=200" alt="avatar" width="200">
    </div>
    <div class="player--header--name">
      <span class="firstName">Hubert</span>
      <span class="lastName">SABLONNIERE</span>
    </div>
  </header>
  <div class="player--score">7</div>
  <div class="player--qrcode">
    <img src="http://upload.wikimedia.org/wikipedia/commons/thumb/5/55/Qrcode_wikipedia_fr.jpg/200px-Qrcode_wikipedia_fr.jpg" alt="qrcode"></div>
</section>

<section class="player">
  <header class="player--header">
    <div class="player--header--avatar">
      <img src="http://media-cache-ec5.pinterest.com/avatars/arnaudspa-1354018233_600.jpg" alt="avatar" width="200">
    </div>
    <div class="player--header--name">
      <span class="firstName">Arnaud</span>
      <span class="lastName">SPANNEUT</span>
    </div>
  </header>
  <div class="player--score">11</div>
  <div class="player--qrcode">
    <img src="http://upload.wikimedia.org/wikipedia/commons/thumb/5/55/Qrcode_wikipedia_fr.jpg/200px-Qrcode_wikipedia_fr.jpg" alt="qrcode">
  </div>
</section>
